<style>
    a{
        color:#3e2622;
        text-decoration:none;
    }
</style>
<nav id="sidebar" style="width:20%;padding:30px;border-right:3px solid #3e2622 !important">
    <h3>Фільтри</h3>
    <form>
        <input class="form-control mr-sm-2" type="search" placeholder="Пошук" aria-label="Search">
        <ul class="list-unstyled components mb-5">
            <li>
                <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Категорія</a>
                <ul class="collapse list-unstyled" id="pageSubmenu1">
                    @foreach (var category in Model)
                    {
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span> @category.Name</a></li>
                    }
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Місцезнаходження</a>
                <ul class="collapse list-unstyled" id="pageSubmenu2">
                    @foreach (var location in Model)
                    {
                        @*<li><a href="#"><span class="fa fa-chevron-right mr-2"></span> @location.City</a></li>*@
                    }
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ціна</a>
                <ul class="collapse list-unstyled" id="pageSubmenu3">
                    <li><input class="form-control mr-sm-2" type="text" placeholder="Мінімальна ціна" aria-label="MinPrice" /></li>
                    <li><input class="form-control mr-sm-2" type="text" placeholder="Максимальна ціна" aria-label="MaxPrice" /></li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Сортувати за</a>
                <ul class="collapse list-unstyled" id="pageSubmenu4">
                    <li>
                            <input name="sort" type="radio" id="new" value="new">
                            <label for="new">Найновіші</label><br>

                            <input name="sort" type="radio" id="min" value="min">
                            <label for="min">Ціна (мін->макс)</label><br>

                            <input name="sort" type="radio" id="max" value="max">
                            <label for="max">Ціна (макс->мін)</label><br>
                    </li>
                </ul>
            </li>
            <li style="display:flex;justify-content:center">
                <button type="submit" style="font-size:1em;margin-top:10px !important;color:#3e2622;border-color:#3e2622;" id="addbtn" class="btn btn-outline-success">Шукати</button>
            </li>
        </ul>
    </form>
    <div class="mb-5">
        <h5>Tag Cloud</h5>
        <div class="tagcloud">
            <a href="#" class="tag-cloud-link">dish</a>
            <a href="#" class="tag-cloud-link">menu</a>
            <a href="#" class="tag-cloud-link">food</a>
            <a href="#" class="tag-cloud-link">sweet</a>
            <a href="#" class="tag-cloud-link">tasty</a>
            <a href="#" class="tag-cloud-link">delicious</a>
            <a href="#" class="tag-cloud-link">desserts</a>
            <a href="#" class="tag-cloud-link">drinks</a>
        </div>
    </div>
</nav>