@{
    ViewData["Title"] = "MainRealEstate";
}
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="row row-cols-1 row-cols-md-3">
        @foreach (RentCourse.Data.Models.Product p in Model.GetProducts)
        {
            @await Html.PartialAsync("ProductCard", p);
        }
    </div>
</body>
</html>
