<div class="col mb-4">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <h6 class="card-text">@Model.Price грн.</h6>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
</div>