@model RentCourse.ViewModels.RegisterViewModel


<h2>Реєстрація нового користувача</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="LastName"></label><br />
        <input type="text" class="form-control" asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="FirstName"></label><br />
        <input type="text" class="form-control" asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="MiddleName"></label><br />
        <input type="text" class="form-control" asp-for="MiddleName" />
        <span asp-validation-for="MiddleName"></span>
    </div>
    <div>
        <label asp-for="Email"></label><br />
        <input type="email" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber"></label><br />
        <input type="tel" class="form-control" asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input type="password" class="form-control" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input type="password" class="form-control" asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <input style="margin:5px;font-size:21px" type="submit" class="btn btn-primary" value="Sign Up" />
    </div>
</form>