@model RentCourse.ViewModels.RestorePasswordViewModel

<h2>Відновлення паролю</h2>

<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="RestorePassword">RestorePassword</a>
<form asp-anti-forgery="true" asp-controller="Account" asp-action="RestorePassword">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label asp-for="Email">Уведіть Email</label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <input type="submit" value="Надіслати" class="btn btn-outline-dark" />
        </div>
    </div>
</form>