@model RentCourse.ViewModels.RestorePasswordViewModel

<h2>Відновлення паролю</h2>

<form method="post" asp-controller="Account" asp-action="RestorePassword">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="LastName"></label><br />
        <input type="text" class="form-control" asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="FirstName"></label><br />
        <input type="text" class="form-control" asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="Email"></label><br />
        <input type="email" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <input style="margin:5px;font-size:21px" type="submit" class="btn btn-primary" value="Надіслати" />
    </div>
    <h6>Невдовзі на електронну пошту має прийти шестицифровий пароль. Нікому не повідомляйте його, навіть близьким.</h6>
</form>

<form>
    <div>
        <label>Пароль з електронної пошти</label>
        <input type="number" required />
    </div>
    <div>
        <label>Новий пароль</label>
        <input type="password" class="form-control" />
    </div>
    <div>
        <label>Підтвердіть новий пароль</label>
        <input type="password" class="form-control" />
    </div>
    <div>
        <input style="margin:5px;font-size:21px" type="submit" class="btn btn-primary" value="Готово" />
    </div>
</form>