@{
    ViewData["Title"] = "Home Page";
}
<style>
    p{
        font-size:1.2em
    }
</style>
<div style="margin-left:50px;margin-right:50px;margin-top:20px;margin-bottom:20px;background-color:white">
    <img style="float:right;height:auto" src="~/images/logo.jpg" />
    <h2>
        rent.ukraine - сайт з пошуку та надання послуг прокату й оренди різних категорій №1.
    </h2>
    <p>Щоб опублікувати перше оголошення, потрібно виконати П'ЯТЬ простих кроків:</p>
    <p>1. Зареєструватися/увійти на сайт</p>
    <p>2. Натиснути "Подати оголошення"</p>
    <p>3. Заповнити деталі (заголовок, фото, опис, ціну тощо)</p>
    <p>4. Обрати способи рекламування оголошення</p>
    <p>5. Опублікувати</p>
</div>