@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}
<style>
    p {
        font-size: 1.2em
    }

    html {
        border: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        padding: 0;
        margin: 0;
        height: auto;
        width: 100%;
    }

    .form-control {
        border: 0.2em solid #04049d !important;
        border-radius: 0 !important;
        color: #04049d !important;
        font-size: 1em !important;
        font-family: sans-serif !important;
        height: 3em;
    }

    #intro {
        width: 25%;
        height: 8%;
    }

    .button {
        display: inline-block;
        text-decoration: none;
        position: relative;
        /*margin-top: 2%;
        margin-bottom: 5%;*/
    }

    .intab {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4em
    }
</style>

<body>
    <table style="margin-top:2em;margin-bottom:2em;width:100%">
        <tr>
            <td style="width:50%">
                <div class="intab">
                    <img style="width:100%" src="~/images/rent-logo3.png" />
                </div>
            </td>
            <td>
                <div>
                    @await Html.PartialAsync("MainSearch")
                </div>
                <div class="intab" style="align-items:start;border: 0.25rem solid #04049d">
                    <label style="margin-top:4%; font-family: sans-serif; font-weight: 600; color: #2acdc1; font-size: 3em; line-height: 110%; letter-spacing: 2px; text-transform: uppercase;">Оренда</label>
                    <label style="font-size:1.5em">наймання, тимчасове користування будівлями, земельною ділянкою, обладнанням, виробничими площами, машинами і т. ін. на договірних засадах.</label>
                    <label style="font-style:italic">Великий тлумачний словник сучасної української мови</label>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:50%">
                <div class="intab">
                    <a asp-controller="Product" asp-action="MainThings">
                        <label style="margin-top:4%; font-family: sans-serif; font-weight: 600; color: #2acdc1; font-size: 3em; line-height: 110%; letter-spacing: 2px; text-transform: uppercase;">Прокат речей</label>
                    </a>
                </div>
            </td>
            <td>
                <div class="intab">
                    <img style="width:70%" src="~/images/unnamed.png" />
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:50%">
                <div class="intab">
                    <img style="width:100%" src="~/images/house_PNG29.png" />
                </div>
            </td>
            <td>
                <div class="intab">
                    <a asp-controller="Product" asp-action="MainRealEstate">
                        <label style="margin-top:4%; font-family: sans-serif; font-weight: 600; color: #2acdc1; font-size: 3em; line-height: 110%; letter-spacing: 2px; text-transform: uppercase;">Оренда нерухомості</label>
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="intab">
                    <a asp-controller="Product" asp-action="MainCars">
                        <label style="margin-top:4%; font-family: sans-serif; font-weight: 600; color: #2acdc1; font-size: 3em; line-height: 110%; letter-spacing: 2px; text-transform: uppercase;">Оренда транспорту</label>
                    </a>
                </div>
            </td>
            <td style="width:50%">
                <div class="intab">
                    <img style="width:100%" src="~/images/favpng_electric-vehicle-electric-bicycle-raleigh-bicycle-company-mountain-bike.png" />
                </div>
            </td>
        </tr>
    </table>
</body>