@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}
<style>
    p {
        font-size: 1.2em
    }

    html {
        border: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    *, *:before, *:after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
    }

    body {
        padding: 0;
        margin: 0;
        height: auto;
        width: 100%;
    }


    #intro {
        width: 25%;
        height: 8%;
    }

    .button {
        display: inline-block;
        text-decoration: none;
        position: relative;
        /*margin-top: 2%;
        margin-bottom: 5%;*/
    }

        .button .bottom {
            position: absolute;
            left: 7px;
            top: 7px;
            width: 100%;
            height: 100%;
            background-color: #2acdc1;
            display: block;
            -webkit-transition: all .15s ease-out;
            -moz-transition: all .15s ease-out;
            -o-transition: all .15s ease-out;
            transition: all .15s ease-out;
        }

        .button .top {
            position: relative;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 24px 34px 22px 34px;
            border: 2px solid #04049d;
        }

    .button-dark .top {
        border: 2px solid #fff;
    }

    .button .top .label {
        font-family: sans-serif;
        font-weight: 600;
        color: #04049d;
        font-size: 1.2em;
        line-height: 110%;
        letter-spacing: 2px;
        text-align: center;
        text-transform: uppercase;
        -webkit-transition: all .15s ease-out;
        -moz-transition: all .15s ease-out;
        -o-transition: all .15s ease-out;
        transition: all .15s ease-out;
    }

    .button-dark .top .label {
        color: #fff;
    }

    .button:hover .bottom {
        left: 0;
        top: 0;
        background-color: #f3f3f3;
    }

    .button:hover .top .label {
        color: #2acdc1;
    }

    .button-border {
        position: absolute;
        background-color: #2acdc1;
        -webkit-transition: all .25s ease-out;
        -moz-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .button:hover .top .button-border-left, .button:hover .top .button-border-right {
        height: calc(100% + 2px);
    }

    .button:hover .top .button-border-top, .button:hover .top .button-border-bottom {
        width: calc(100% + 2px);
    }

    .intab {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5em
    }
</style>
<body>
    @*<nav style="display:flex;flex-direction:row;justify-content:space-around;background-image:url(https://pbs.twimg.com/media/EuxyjDgXIAEo4Ke?format=jpg&name=large);">
            <img style="height:auto" src="~/images/rent-logo3.png" />
            <section id="intro">
                <div id="intro-content" class="center-content">
                    <div class="center-content-inner">
                        <div class="content-section content-section-margin">
                            <div class="content-section-grid clearfix">
                                <a asp-controller="Product" asp-action="MainThings" class="button nav-link" style="width:100%;height:100%;">
                                    <div class="bottom"></div>
                                    <div class="top">
                                        <div class="label">ПРОКАТ РЕЧЕЙ</div>
                                        <div class="button-border button-border-left"></div>
                                        <div class="button-border button-border-top"></div>
                                        <div class="button-border button-border-right"></div>
                                        <div class="button-border button-border-bottom"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="intro">
                <div id="intro-content" class="center-content">
                    <div class="center-content-inner">
                        <div class="content-section content-section-margin">
                            <div class="content-section-grid clearfix">
                                <a asp-controller="Product" asp-action="MainRealEstate" class="button nav-link" style="width:100%;height:100%">
                                    <div class="bottom"></div>
                                    <div class="top">
                                        <div class="label">ОРЕНДА НЕРУХОМОСТІ</div>
                                        <div class="button-border button-border-left"></div>
                                        <div class="button-border button-border-top"></div>
                                        <div class="button-border button-border-right"></div>
                                        <div class="button-border button-border-bottom"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="intro">
                <div id="intro-content" class="center-content">
                    <div class="center-content-inner">
                        <div class="content-section content-section-margin">
                            <div class="content-section-grid clearfix">
                                <a asp-controller="Product" asp-action="MainCars" class="button nav-link" style="width:100%;height:100%">
                                    <div class="bottom"></div>
                                    <div class="top">
                                        <div class="label">ОРЕНДА ТРАНСПОРТУ</div>
                                        <div class="button-border button-border-left"></div>
                                        <div class="button-border button-border-top"></div>
                                        <div class="button-border button-border-right"></div>
                                        <div class="button-border button-border-bottom"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </nav>*@
    <table style="margin-top:2em;margin-bottom:2em;width:100%">
        <tr>
            <td style="width:50%">
                <div class="intab">
                    <img style="width:100%" src="~/images/rent-logo3.png" />
                    @*<div style="margin-top:4%; font-family: sans-serif; font-weight: 600; color: #2acdc1; font-size: 1.7em; line-height: 110%; letter-spacing: 2px; text-align: center; text-transform: uppercase;">Орендарний майданчик №1 в Україні</div>*@
                </div>
            </td>
            <td>
                <div class="intab" style="align-items:start;border: 0.3em solid #04049d">
                    <label style="margin-top:4%; font-family: sans-serif; font-weight: 600; color: #2acdc1; font-size: 3em; line-height: 110%; letter-spacing: 2px; text-transform: uppercase;">Оренда</label>
                    <label style="font-size:1.5em">наймання, тимчасове користування будівлями, земельною ділянкою, обладнанням, виробничими площами, машинами і т. ін. на договірних засадах.</label>
                    <label style="font-style:italic">Великий тлумачний словник сучасної української мови</label>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:50%">
                <div class="intab">
                    <label style="margin-top:4%; font-family: sans-serif; font-weight: 600; color: #2acdc1; font-size: 3em; line-height: 110%; letter-spacing: 2px; text-transform: uppercase;">Прокат речей</label>

                </div>
            </td>
            <td>
                <div class="intab">
                    <img style="width:70%" src="~/images/unnamed.png" />
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:50%">
                <div class="intab">
                    <img style="width:100%" src="~/images/house_PNG29.png" />
                </div>
            </td>
            <td>
                <div class="intab">
                    <label style="margin-top:4%; font-family: sans-serif; font-weight: 600; color: #2acdc1; font-size: 3em; line-height: 110%; letter-spacing: 2px; text-transform: uppercase;">Оренда нерухомості</label>

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="intab">
                    <label style="margin-top:4%; font-family: sans-serif; font-weight: 600; color: #2acdc1; font-size: 3em; line-height: 110%; letter-spacing: 2px; text-transform: uppercase;">Оренда транспорту</label>

                </div>
            </td>
            <td style="width:50%">
                <div class="intab">
                    <img style="width:100%" src="~/images/favpng_electric-vehicle-electric-bicycle-raleigh-bicycle-company-mountain-bike.png" />
                </div>
            </td>
        </tr>
    </table>
    @*<div style="display:flex;flex-direction:column;justify-content:center;align-items:center;padding:2%">
            <h2>
                    rent.ukraine - сайт з пошуку та надання послуг прокату й оренди різних категорій №1.
                </h2>
                <p>Щоб опублікувати перше оголошення, потрібно виконати П'ЯТЬ простих кроків:</p>
                <p>1. Зареєструватися/увійти на сайт</p>
                <p>2. Натиснути "Подати оголошення"</p>
                <p>3. Заповнити деталі (заголовок, фото, опис, ціну тощо)</p>
                <p>4. Обрати способи рекламування оголошення</p>
                <p>5. Опублікувати</p>
        </div>*@
</body>