
@{
    ViewData["Title"] = "MainThings";
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <form>
    <input class="form-control mr-sm-2" type="search" placeholder="Пошук" aria-label="Search">
    <select class="LocationSelect">
        <option disabled>Місцезнаходження</option>
    </select>
    <select class="CategorySelect">
        <option disabled>Категорія</option>
    </select>
    <input class="form-control mr-sm-2" type="text" placeholder="Мінімальна ціна" aria-label="MinPrice">
    <input class="form-control mr-sm-2" type="text" placeholder="Максимальна ціна" aria-label="MaxPrice">
    <select>
        <option disabled>Сортувати за...</option>
        <option value="Найновіші">Найновіші</option>
        <option value="мін->макс">Ціна (мін->макс)</option>
        <option value="макс->мін">Ціна (макс->мін)</option>
    </select>
        <button type="submit"></button>
</form>
</nav>
    <h2>Прокат речей</h2>
